﻿body {
    font-family: 'Helvetica', sans-serif;
	font-size: 0;
}

.drop-target
{
    width: 200px;
    height: 50px;
    margin: 0 auto;
    border: 1px solid #000000;
    text-align: center;
    line-height: 50px;
    font-size: 16px;
}

.drawer
{
	display: inline-block;
    margin: 2px;
}

.drawer > canvas {
    border: 1px solid #000000;
}

.drawer-controls
{
    display: block;
	text-align: center;
}

.drawer-controls button
{
    display: inline-block;
}

.drawer-controls span
{
    display: inline-block;
    margin: 0 5px;
	font-family: monospace;
    font-size: 16px;
}